* {
	box-sizing: border-box
}

.hidden-text {
	visibility: hidden
	position: absolute
}


body {
	margin: 0
	background: $color__white	
	color: $color__text--dark
	//overflow-x: hidden
	user-select: none
}

body.no-scroll {
	width: 100%
	height: 100%
	overflow: hidden
}

