$color__black = #000000
$color__white = #ffffff
$color__background = #EDEDEE
$color__text--dark = #A4A6A8
$color__text--light = #6D6E71
$color__divider = #e4e5e6

$color__blue--primary = #3E80F6
$color__blue--shadow-left = #2874E2
$color__blue--shadow-bottom = #2068D1

$color__grey--primary = #CFD1D2
$color__grey--shadow-left = #BABCBE
$color__grey--shadow-bottom = #A5A7AA

$color__class-neutral--primary = #A4A6A9
$color__class-neutral--shadow-left = #909295
$color__class-neutral--shadow-bottom = #808082

$color__class-green--primary = #2baa5e
$color__class-green--shadow-left = #249b54
$color__class-green--shadow-bottom = #1a8741

$color__class-purple--primary = #c95ac5
$color__class-purple--shadow-left = #b74eb7
$color__class-purple--shadow-bottom = #a53fa5

$color__class-orange--primary = #dd4d31
$color__class-orange--shadow-left = #cc402e
$color__class-orange--shadow-bottom = #bf3025

$color__facebook--primary = #0066a8
$color__facebook--shadow-left = #0080c4
$color__facebook--shadow-bottom = #004a75

$color__twitter--primary = #00abe0
$color__twitter--shadow-left = #89d9f7
$color__twitter--shadow-bottom = #0080ab
