.link {
	color: $color__blue--primary
	text-decoration: underline	
}

.link__icon {
	height: 50px
	vertical-align: middle
	padding-right: $padding
}

.link__text {
	color: $color__blue--primary
	display: inline-block
	text-decoration: underline	
}

.link--grey {
	color: rgba($color__black, 0.20)
}

.link:hover .link__text {
	text-decoration: none
}

.link:hover {
	text-decoration: none
}